/*------------ NAVBAR ------------*/
.navbar {
  margin: 20px auto;
  font-size: 20px;
  background-color: #31aafe;
}
.nav-link, .nav-link:hover {
  color: white;
}
.dropdown-header a{
  color: grey;
  text-decoration: none;
}

.tros {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(107%) contrast(101%);
}
@media (max-width: 765px) {
  body div.container {
   padding: 0px;
  }
}

/*------------ All ------------*/
*{
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

body{
  background-image: url(../img/fondo-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
}

/*------------ FOOTER LOGO ------------*/

.logo, .footer{
  background: #e6e6e6;
  width: 90%;
  margin: 0px auto;
  overflow: hidden;
}
.logo p{
  font-size: 27px;
  color: #fff;
}

.footer a{
  text-decoration: none;
  color: #fff;
}
.footer{
  background: #000;
  color: #fff;
  clear: both;
  padding: 10px 0px;
  margin: 20px auto;
  text-align: center;
  width: 100%;

}
.footer p {
  margin: 10px auto;
}
span{
  font-weight: bold;
}
.footer img{
  width: 50px;
  margin-right: 10px;

}

.logo img{
width: 350px;
margin: auto;
padding: 5px;
display: block;

}

.logo{
  width: 100%;
  background: #000;
  margin-top: 20px;
}

div p{
  text-align: center;
  margin: 0 auto 5px;
  /*font-weight: bold;*/
}
/*------------ CONTENT ------------*/
.main {
  margin: 0;
  width: 90%;
  overflow: hidden;
  width: auto;
}
.flex-container{
  display: flex;
  justify-content: center;
}

.indeximg img{
  margin: 0px 20px;
}
.prodct h2 {
  margin-left: 20px;
}
.prodct img{
  border-radius: 30px;
  margin: 0px 40px;
}
.dest img{
  margin: 0px 40px;
}
.main .articles{
  width: 100%;
  margin-right: 1.5%;
  float: left;
}

.main .articles article{
  padding: 20px;
  background: #fff;
  margin: 20px auto;
  float: left;
}

.main .articles article p{
  text-align: left; /*29/12: cambie justify x center*/
}

.descuento{
  width: 100px;
  height: 30px;
  padding-left: 5px;
  text-align: center;
  line-height: 30px;
  background-color: #4caf50;
  border-radius: 5px;
  position: relative;
  bottom: 100px; /*50*/
  left: 60px;/*50*/
}

/*.noteb {
    width: 100px;
    height: 30px;
    padding-left: 5px;
    text-align: center;
    line-height: 30px;
    background-color: #4caf50;
    border-radius: 5px;
    position: relative;
    bottom: 50px;
    left: 50px;
}*/

.descripcion{
  position: relative;
  top: -350px;
  left: 350px;
}
.cont-imagen{
  position: relative;
}

#imagen{
  position:fixed;
  bottom:150px;
  /*left:1000px;*/
  right: 200px;
  border-radius: 50px;
}

.d-flex p-2 bd-highlight{
  display: flex;

}

.parrafos p{
  text-align: left;
  float: left;


}

 /*------------ MEDIA ------------*/
@media (max-width: 1024px) {
	.navbar {
	  font-size: 18px;
	}
  .nav-link {
    padding-right: 0px !important;
  }
 .flex-container img{
   width: 29%;
   margin: 1.8%;
 }
}

@media (max-width: 414px) {
  .logo img {
    width: 100%;
  }
  .logo p{
    font-size: 25px;
  }
  section.articles{
    margin: 0px !important;
  }
  .flex-container article{
    width: 100%;
  }
  .flex-container img{
    width: 100%;
    margin: 0 auto;
  }
  article h2{
    text-align: center;
  }
}
